* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #E84545;
}

nav {
    text-align: center;
    background-color: #2C281E;
    width: 100vw;
    height: 15vh;
    padding: 0;
    margin: 0;
}

nav a {
    position: relative;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    font-weight: bold;
    font-size: 2vmax;
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #40392B;
    padding: 0;
    margin: 0;
}

main {
    height: 150vh;
}

footer {
    position: relative;
    margin-top: 50%;
}

#social {
    margin-bottom: 1%;
    margin-top: .5%;
    padding-left: 2%;
    color: #fff;
    font-weight: bold;
    font-size: 1vmax;
}

.selfie {
    position: absolute;
    height: 50vh;
    width: 20vw;
    min-height: 300px;
    min-width: 150px;
    right: 15vw;
    bottom: 5vh;
}

h1 {
    position:relative;
    margin-top: 5vh;
    padding-left: 2%;
    font-size: 4.5vmax;
    color: #fff;
    text-align: left;
}

h2 {
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 3vmax;
    color: #FFE184;
}

h3 {
    color: #E37900;
    font-size: 1.3vmax;
}

h4 {
    font-size: .9vmax;
}

.achievement_list li {
    margin-left: 2%;
    padding: .5%;
    font-size: 1vmax;
    font-weight:bold;
    max-width: 40vw;
    color: #EBD89A;
    display: list-item;
    list-style: square;
}

p {
    padding-left: 2%;
    font-size: 1vmax;
    font-weight:bold;
    color: #EBD89A;
    max-width: 45vw; 
}

.personal {
    color: #FBC008;
    font-size: 1.2em;
}

.period {
    background-color: #fff;
    padding: 10px 25px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    height: 11%;
    margin-bottom: 5%;
}

.period:before {
    content: '';
    display: block;
    width:  2%;
    height: 2%;
    border-radius: 60%;
    background-color: #ddd;
    border: 3px solid #ddd;
    position: absolute;
    top: 10%;
    left: -12.5%;
}

.timeline_container {
    margin-left: 2%;
    width: 20vw;
    min-width: 200px;
    border-left: 2px solid #fff;
    padding: 0 20px 0 30px;
}

ul li a img:hover {
    background: #fff;
}

ul li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}

ul li a img {
    border: 2px solid #fff;
    max-width: 50px;
    max-height:50px;
    bottom: 50px;
    background-color: #907D4B;
}

#social a {
    text-decoration: none;
    font-weight: bold;
    color: #FE8800;
}

#social a:hover {
    text-decoration: underline;
}

#social a:active {
    color: #BB0505;
}

